NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBdkhrlBR-Q2S19LJAPA8WsMBXYcLUP_pA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=meal-tracker-46346.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=meal-tracker-46346
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=meal-tracker-46346.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=134287587849
NEXT_PUBLIC_FIREBASE_APP_ID=1:134287587849:web:1bab3a94fa9c197e6896d8
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=https://meal.amritr.xyz
